
<div class="container">
    <h1>Join</h1>
    <form id="joinForm" action="/join" method="post">

        <div class="row">
            <div class="row">
                <div class="three columns">
                <label for="exampleEmailInput">Latitude</label>
                <input class="u-full-width" type="text" id="latitude" name="latitude" placeholder="latitude" id="exampleEmailInput">
            </div>
            <div class="three columns">
                  <label for="exampleRecipientInput">Longitude</label>
                  <input class="u-full-width" type="text" id="longitude" name="longitude" placeholder="longitude" id="exampleEmailInput">
            </div>
            <div class="six columns">
                <h2>Locations near by</h2>
            </div>
      </div>
        </div>
        <div class="row">
            <div class="six columns">
                <input type="range" name="name" value="">
                <input type="submit" class="button-primary u-full-width" id="joinButton" value="Join" >
            </div>
        </div>
    </form>

    <script type="text/javascript">
        var joinForm = document.getElementById('joinForm');
        var latitude = document.getElementById('latitude');
        var longitude = document.getElementById('longitude');

        joinForm.addEventListener('submit', function(evt){

            evt.preventDefault();

            navigator.geolocation.getCurrentPosition(function(position) {
                //
                var coords = position.coords;
                latitude.value = coords.latitude;
                longitude.value = coords.longitude;
                joinForm.submit();

            });

        });

    </script>
</div>
